In [37]:
import pandas as pd
from ipywidgets import FileUpload
from IPython.display import FileLink, FileLinks

# Fusionner des fichiers avec Python

# Charger le premier fichier

In [29]:
fichier_1 = pd.read_excel("Alice_heures.xlsx", names=["Projet", "Temps"])
fichier_1

     Projet  Temps
0  Projet A    125
1  Projet B      9
2  Projet C      2
3  Projet D      3
4  Projet E      0

In [32]:
fichier_1["Nom"] = "Alice"
fichier_1

     Projet  Temps    Nom
0  Projet A    125  Alice
1  Projet B      9  Alice
2  Projet C      2  Alice
3  Projet D      3  Alice
4  Projet E      0  Alice

In [30]:
fichier_2 = pd.read_excel("Bob_heures.xlsx", names=["Projet", "Temps"])
fichier_2

     Projet  Temps
0  Projet A    108
1  Projet B     13
2  Projet C      5
3  Projet D      2
4  Projet E      0

In [33]:
fichier_2["Nom"] = "Bob"
fichier_2

     Projet  Temps  Nom
0  Projet A    108  Bob
1  Projet B     13  Bob
2  Projet C      5  Bob
3  Projet D      2  Bob
4  Projet E      0  Bob

# Fusionner les deux fichiers

In [35]:
fichier_consolide = pd.concat([fichier_1, fichier_2])
fichier_consolide

     Projet  Temps    Nom
0  Projet A    125  Alice
1  Projet B      9  Alice
2  Projet C      2  Alice
3  Projet D      3  Alice
4  Projet E      0  Alice
0  Projet A    108    Bob
1  Projet B     13    Bob
2  Projet C      5    Bob
3  Projet D      2    Bob
4  Projet E      0    Bob

In [36]:
fichier_consolide.to_excel("conso.xlsx")

In [39]:
FileLink('./conso.xlsx')

/Users/chenry/Desktop/Projects/Demo IAAI/Binder demos/conso.xlsx